<h1 id="title" class="title">Request for password reset token</h1>

<div *ngIf="success" class="alert alert-success alert-fixed " role="alert">{{success}}</div>
<div *ngIf="error" class="alert alert-warning alert-fixed " role="alert">{{error}}</div>

<nb-card>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">
    <form (ngSubmit)="onSubmit()" #form="ngForm" aria-labelledby="title">
      <div class="form-control-group">
        <label for="email">Email address:</label>
        <input required nbInput class="form-control" [(ngModel)]="contactEmail" #email="ngModel" name="email" id="input-email"
          pattern=".+@.+\..+" placeholder="Email address" autofocus [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
          [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
          <p class="error-message" *ngIf="email.errors?.required">
            Email is required!
          </p>
          <p class="error-message" *ngIf="email.errors?.pattern">
            Email should be the real one!
          </p>
        </ng-container>
      </div>
      <input type="hidden" class="hide" name="token" id="token" value="">
      <button nbButton fullWidth  [disabled]="submitted || !form.form.valid" [class.btn-pulse]="submitted">
        Submit
      </button>
    </form>
  </nb-card-body>
  </nb-card>