<h1 id="title" class="title">Request for password reset token</h1>

<div *ngIf="success" class="alert alert-success alert-fixed " role="alert">{{success}}</div>
<div *ngIf="error" class="alert alert-warning alert-fixed " role="alert">{{error}}</div>

<div *ngIf="!isTokenValid">
  <div class="alert alert-info">Received Token in not valid.</div>
</div>
<div *ngIf="isChangePassword">
  <div class="alert alert-info">{{changePasswordMsg}} Click <a href="#/auth/login">here</a> to login</div>
</div>

<nb-card>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <div *ngIf="isTokenValid || !isChangePassword">
      <p class="text-center">Use the form below to change your password. Your password cannot be the same as your
        username.</p>
      <form id="passwordForm" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <div class="row form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock 2x" aria-hidden="true"></i></span>
            <input nbInput type="password" class="form-control" id="newPassword" placeholder="New Password" required
              [(ngModel)]="newPassword" name="newPassword">
          </div>
        </div>
        <div class="row form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock 2x" aria-hidden="true"></i></span>
            <input nbInput type="password" class="form-control" name="repeatPassword" id="repeatPassword" placeholder="Repeat Password"
              required [(ngModel)]="repeatPassword">
          </div>
        </div>
        <div class="row">
          <button type="submit" nbButton fullWidth [disabled]="!resetPasswordForm.form.valid">Change Password</button>
        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>